@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
   --cursor-color: #848484;
}
html.dark-mode {
  --cursor-color: #fff;
}

body {
  background-color: rgba(11, 3, 30, 0.983);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* uttility classes */

hr {
  border: 0;
  background: rgb(146, 21, 230);
  height: 1.3px;
  margin: 70px 0;
}

.text {
  color: rgb(247, 238, 228);
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
}
/* -------------------------- */

/* header styling */
.logo {
  color: aliceblue;
  margin: 10px;
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  line-height: 2.25rem;
}

ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 99vw;
  top: 0;
  background-color: blueviolet;
  padding: 0 25px;
  z-index: 101;
}

.menu {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
  font-family: "Montserrat", serif;
}

.menu:hover {
  color: rgb(207, 216, 221);
}
.nav-links {
  padding: 10px 0px;
}

li {
  position: relative;
  display: inline-block;
}
li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 110%;
  width: 0;
  height: 2px;
  background-color: rgb(207, 216, 221);
  transition: width 0.3s ease-in-out;
}
li:hover:after {
  width: 100%;
}

nav ul li {
  margin: 0px 0px 0px 20px;
}

.purple {
  color: rgb(158, 65, 245);
}

/* .showcase section styling */
.showcase {
  display: flex;
  justify-content: space-around;
  margin: 5.5em 1.25em;
  max-width: 99vw;
  padding: 24px 1.25em;
}

.picture img {
  border: 3px solid #6e4891;
  border-radius: 30%;
  max-width: 24vw;
  /* min-height: 68vh; */
}

img {
  width: 100%;
  height: 100%;
}

#element {
  color: blueviolet;
}

.mobile-menu {
  display: none;
  background-color: #724848;
  z-index: 99;
  max-width: 98vw;
  width: 98vw;
  min-height: 90vh;
  position: fixed;
}
.mobile-ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mobile-ul li{
    display: block;
  position: relative;
  margin: 10px;

}
 .hamburger-react{
    display: none;
  }

/* media query */

@media screen and (max-width: 850px) {
  body {
    font-size: 0.8rem;
  }
  .hamburger-react{
    display: block;
  }
  .nav-links ul{
    display: none;
  }
  .show {
  display: block;
  }
  
  .showcase {
    display: flex;
    margin: 5.5em 0;
    flex-direction: column-reverse;
    align-items: center;
  }
}